
<section id="weather"><a href="http://www.wunderground.com/cgi-bin/findweather/hdfForecast?query=new+york%2C+ny">The current temperature is <%= @temp_in_farh %> degrees.</section>


<%= render(:erb, :_ny_times, :locals => {:user_wants_ny_times => @user1["ny_times"]}) %>
<br></br>
<br></br>
<%= render(:erb, :_twitter, :locals => {:user_wants_twitter => @user1["twitter_books"], :tweets => @tweets}) %>
<br></br>
<br></br>

<%= render(:erb, :_idream_books, :locals => {:user_wants_idream_books => @user1["idream_books"]})%>
<br></br>
<%= render(:erb, :_book_browse_news, :locals => {:user_wants_book_browse_news => @user1["book_browse_news"]}) %>

