
<p>The current temperature is <%= @temp_in_farh %> degrees.</p>

<% if @user1["ny_times"] %>
  <h2>New York Times Bestsellers</h2>
  <% @parsed_version["results"].each do |book| %>
    <% book["book_details"].each do |info| %>
    <ul>
    <%= info["title"] %>
    <br></br>
    <%= info["author"] %>
    <br></br>
    <%= info["description"] %>
    <br></br>
    <%= info["publisher"] %>
    </ul>
    <% end %>
  <% end %>
<% end %>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/ny_times">New York Times Bestsellers</a>
<br></br>
<br></br>

<h2>TwitterBooks</h2>
<% @tweets.each do |tweet| %>
<ul><%= tweet %></ul>
<% end %>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/twitter_books">TwitterBooks</a>
<br></br>
<br></br>

<h2>iDreamBooks Reviews</h2>
<% @parsed_reviews.each do |book| %>
<ul>
<%= book["title"] %>
<%= book["author"]%>
<%= book["review_snippet"] %>
</ul>
<% end %>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/idream_books">iDreamBooks Reviews</a>
<br></br>

<h2>BookBrowse News</h2>
<ul><%= @feed.channel.title %></ul>
<% @feed.items.each do |item| %>
<ul><%= item.title %></ul>
<% end %>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/book_browse_news">BookBrowse News</a>
