<section id="profile_display"

 <h2><%= @user_profiles["user_name"] %></h2>

      <ul>

            <p>
                email: <%= @user_profiles["email"] %>
                <br></br>
                New York Times Bestsellers? <%= @user_profiles["ny_times"] %>
                <br></br>
                TwitterBooks? <%= @user_profiles["twitter_books"] %>
                <br></br>
                iDreamBooks Reviews? <%= @user_profiles["idream_books"] %>
                <br></br>
                BookBrowse News? <%= @user_profiles["books_browse_news"] %>
            </p>

      </ul>
</section>



